#eleccom1{
    background-image: url("../../category/images/electronics/fridge.png");
    background-size: 100%;
    background-position: 100% 100% ;
    background-repeat: no-repeat;
}
#eleccom2{
    background-image: url("../../category/images/electronics/headphones.png");
    background-size: cover;
    background-position: 100%100%;
}
#eleccom3{
    background-image: url("../../category/images/electronics/laptop.png");
    background-size: cover;
    background-position: 100%100%;
}
#eleccom4{
    background-image: url("../../category/images/electronics/speakers.png");
    background-size: cover;
    background-position: 100%100%;
}