#eleccom1{
    background-image: url("../../category/images//footwears/casual\ mens.png");
    background-size: 100%;
    background-position: 100% 100% ;
    background-repeat: no-repeat;
}
#eleccom2{
    background-image: url("../../category/images/footwears/ethenicman.png");
    background-size: cover;
    background-position: 100%100%;
}
#eleccom3{
    background-image: url("../../category/images/footwears/mensformal.png");
    background-size: cover;
    background-position: 100%100%;
}
#eleccom4{
    background-image: url("../../category/images/footwears/semiformalmen.png");
    background-size: cover;
    background-position: 100%100%;
}
#eleccom5{
    background-image: url("../../category/images/footwears/womenscasual.png");
    background-size: 100%;
    background-position: 100% 100% ;
    background-repeat: no-repeat;
}
#eleccom6{
    background-image: url("../../category/images/footwears/ethenic.png");
    background-size: cover;
    background-position: 100%100%;
}
#eleccom7{
    background-image: url("../../category/images/footwears/womensformal.png");
    background-size: cover;
    background-position: 100%100%;
}
#eleccom8{
    background-image: url("../../category/images/footwears/sformalwomen.png");
    background-size: cover;
    background-position: 100%100%;
}